* {
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-areas:
    "searchbar-div"
    "folders-div";
    grid-row-gap:25px;
    margin-top:30px;
}

.folders-div {
    grid-area: folders-div;
    text-align: center;
    margin-top:6%;
    margin-bottom:10%;
}

.folders-heading-div p {
    margin:10px 0px;
    font-weight: 0;
    margin-bottom:40px;
    font-size:20px;
}

.searchbar-div {
    grid-area: searchbar-div;
}

.folders {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.folder h3 {
    text-align: center;
}

.folders .folder {
  width:100px;
  height:150px;
  margin:0px 25px;
}
@media only screen and (min-width: 580px) {
    .folders-div {
        width:80%;
        margin:auto;
        margin-top:6%;
      }
  }
@media only screen and (max-width: 470px) {
    .folders .folder {
        margin:0px 0px;
      }
  }

.folders .folder img:hover {
    cursor:pointer;
}



.make-folder-btn-div {
    position: fixed; 
    bottom:15px;
    left:50%;
    transform:translate(-50%);
}

.make-folder-btn-div img {
    width:80px;
}

.make-folder-btn-div img:hover {
    cursor: pointer;
}

.create-folder-form-div {
    position: absolute; 
    top:15px;
    left:50%;
    transform:translate(-50%);
    padding:8px 16px;
    min-height: 150px;
    background-color:#E8E2E2;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 500ms;
    opacity: 0%;
    visibility: hidden;
}

.create-folder-form-div img{
    width:70px;
}

.create-folder-form-div form input {
    padding:1px 6px;
}

.create-folder-form-div form button {
    margin-top:5px;
    border:1px solid grey;
    border-radius: 10%;
    padding:3px 6px;
}

.create-folder-form-div form button:hover {
    cursor: pointer;;
}