 <!-- <form method="POST" action="/bruh">
<label for="file-upload" class="custom-file-upload">
     <i class="fa fa-cloud-upload"></i> Custom Upload
</label>
<input style="display: none;" id="file-upload" type="file" multiple name="" id="">
<button type="submit">sdadsa</button>
</form> -->

{% extends "layout.html" %}
{% block head %} 
    <title>home</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/home.css">
{%endblock%}
{% block allcontent %}
    <main>
        <div class="searchbar-div">
            <p>searchbar</p>
        </div>
        <div class="folders-div">
            <div class="folders-heading-div">
                <p>All Your Folders</p>
            </div>
            
            <div class="folders">
                {% for dir in allFolders %}
                <div class="folder">
                    <img src="{{url_for('static' , filename='icons/folder.png')}}" width="60px" alt="">
                    <p>{{dir}}</p>                   
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <div class="make-folder-btn-div">
        <img src="{{url_for('static' , filename='icons/plus-icon.png')}}" alt="plus icon">
    </div>
    <div class="create-folder-form-div">
        <img src="{{url_for('static' , filename='icons/folder.png')}}" alt="folder">
        <form action="{{url_for('makeFolder')}}" method="post">
            <input required type="text" name="new-folder-input" placeholder="Enter name of new folder">
            <br>
            <button class="submit-make-folder-btn" type="submit">Create</button>
            <button class="cancel-make-folder-btn" type="reset" class="cancel-new-folder">Cancel</button>
        </form>
        
    </div>
    <script src="{{url_for('home_js')}}"></script>
{% endblock %}

