<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <link rel="stylesheet" href="/static/css/layout.css">
    {% endblock %}
</head>
<body>
    <nav id="topnav">
        <a id="logo" class="nav-link" href="#">File-Server</a>
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
     </nav>
    {% block allcontent %}{% endblock %}
</body>
</html>